@import "../_mixin";

.board{
    &-view{
        &__inner{
            .view{
                &-header{
                    border-top:2px solid #000000;
                    border-bottom:1px solid #dddddd;
                    padding:5rem 0;
                    text-align: center;
                }
                &-title{
                    font: {
                        size: 3.6rem;
                        weight:500;
                    }
                    &__wrap{
                        @include d-flex;
                        .badge{
                            @include d-flex;
                            width: 9rem;
                            height: 4rem;
                            margin-left: 1rem;
                            font-size: 1.8rem;
                            color: #ffffff;
                            border-radius: .5rem;
                            flex:none;
                            &.ing{
                                background: #005aab;
                            }
                            &.soon{
                                background: #8fb7da;
                            }
                            &.end{
                                background: #cdcdcd;    
                            }
                        }
                    }
                }
                &-info{
                    @include display-flex;
                    @include justify-center;
                    margin-top: 3rem;
                }
                &-date{
                    margin-right: 3rem;
                }
                &-date, &-target{
                    .tit{
                        font: {
                            size: 2rem;
                            weight:500;
                        }
                        color:#000000;
                    }
                    span{
                        font: {
                            size: 2rem;
                            weight:500;
                        }
                        color:#555555;
                    }
                }
                &-file{
                    border-bottom:1px solid #dddddd;
                    *{
                        font: {
                            size: 1.8rem;
                            weight:400;
                        }
                    }
                    .file-list{
                        @include display-flex;
                        @include justify-center;
                        @include flex-wrap;
                        //margin: -1rem -2.8rem;
                        padding:1rem 0;
                        width:100%;
                        a{
                            @include display-flex;
                            @include align-center;
                            margin: .5rem 1.4rem;
                            padding-left: 2.4rem;
                            font-weight: 500;
                            background: url(../../image/sub/icon-file.png)no-repeat left center;
                        }
                    }
                }
                &-content{
                    padding:5rem 6rem;
                    font-size: 2rem;
                    color:#555555;
                    line-height: 3.2rem;
                    *{
                        font-size: 2rem;
                        color:#555555;
                        line-height: 3.2rem;
                    }
                    border-bottom: 1px solid #dddddd;
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
    }
    &-bottom{
        .button-wrap{
            flex:none;
            margin-top: 5rem;
            text-align: center;
           
        }
        button{
            width: 16.4rem;
            height: 6rem;
            font: {
                size: 1.8rem;
                weight:600;
            }
            color:#005aab;
            border:1px solid #005aab;
            background:#ffffff;
            letter-spacing: -1px;
        }
    }
    &-prevnext{
        @include flex-column;
        .badge {
            @include d-flex;
            width: 11.6rem;
            height: 5rem;
            margin-right: 3rem;
            font-size: 1.8rem;
            color: #555555;
            border-radius: .3rem;
            -webkit-box-flex: 0;
            -ms-flex: none;
            flex: none;
        }
        .next{
            .badge{
                background: #e9e9e9;
            }
        }
        .prev{
            .badge{
                background: #e1e5ee;
            }
        }
        >div {
            @include display-flex; 
            @include align-center;
            padding: .5rem 3rem;
            border-bottom: 1px solid #e4e4e4;
            a{
                font-size: 1.8rem;
                color: #555555;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
    &-answer{
        &__inner{
            margin-top: 5rem;
            padding: 5rem 3rem 7.5rem 3rem;
            border-top:1px dashed #cfd6e2;
            border-bottom:1px solid #dddddd;
        }
    }
}
.answer{
    &-header{
        @include display-flex;
        @include align-center;
        margin-bottom: 3rem;
    }
    &-title{
        font : {
            size: 2.4rem;
            weight:600;
        }
    }
    &-date{
        margin-left: auto;
        color:#555555;
        font-size: 1.8rem;
        span{
            color:#000000;
            font : {
                weight:600;
            }
        }
    }
    &-content{
        color:#555555;
        font : {
            size: 1.8rem;
            weight:400;
        }
        line-height: 3.2rem;
    }
}
.table-wrap{
    &+.board-prevnext{
        margin-top: 5rem;
        border-top: 1px solid #e4e4e4;
    }
}

