@import "../_mixin";

.button{
    &-wrap{
        @include display-flex;
        @include justify-center;
        @include flex-wrap;
        text-align: center;
        margin: -.25rem;
        button{
            width: 16.4rem;
            height: 6rem;
            margin: .25rem;
            font: {
                size: 1.8rem;
                weight: 400;
            }
            line-height: 100%;
            // &+button{
            //     margin-left: .5rem;
            // }
            &.button{
                &-blue{
                    background: #005aab;
                    color:#ffffff;
                }
                &-deepblue{
                    background: #00294e;
                    color:#ffffff;
                }
                &-gray{
                    background: #dfdfdf;
                    color:#000000;
                    border:0;
                }
                &-deepgray{
                    background: #ababab ;
                    color: #ffffff;
                }
                &-deepgray2{
                    background: #464646 ;
                    color: #ffffff;
                }
                &-darkgray{
                    background: #464646 ;
                    color: #ffffff;
                }
                &-black{
                    background: #000000;
                    color:#ffffff;
                }
                &-orange{
                    background: #e17c02 ;
                    color: #ffffff;
                }
                &-green{
                    background: #6cac63 ;
                    color: #ffffff;
                }
                &-write{
                    color:#000000;
                    font-weight: 500;
                    background: #eff4ff;
                    border:1px solid #000000;
                }
                &-list{
                    color: #005aab; 
                    border: 1px solid #005aab; 
                    background: #ffffff; 
                    letter-spacing: -1px;
                }
                &-modify{
                    background: #e3e8f1;
                    color:#005aab;
                    border:0;
                }
                &-delete{
                    background: #f1dce2;
                    color:#ed174f;
                    border:none;
                }
                &-viewer{
                    width: 12rem;
                    height: 5rem;
                    background: #555555;
                    color:#ffffff !important;
                    font : {
                        size: 1.8rem;
                        weight:300;
                    }
                }
                &-url{
                    background: #dfdfdf;
                    color:#005aab !important;
                }
                &-border{
                    &__green{
                        border: 1px solid #6cac63;
                        color: #6cac63;
                        background: #ffffff;
                    }
                    &__orange{
                        border: 1px solid #e17c02;
                        color:#e17c02;
                        background: #ffffff;
                    }
                }
                &-print{
                    @include display-flex;
                    @include align-center;
                    justify-content: space-between;
                    padding: 0 2rem;
                    background: #555555;
                    color:#ffffff;
                    i{
                        display: inline-block;
                        width: 1.8rem;
                        height: 1.7rem;
                        background: url(../../image/sub/icon-print.png);
                    }
                }
            }
        }
        
    }
    &-small{
        button{
            width: 11.9rem !important; 
            height: 4.9rem !important;
            font-weight: 400 ;
            &.w{
                &-auto{
                    width: auto !important;
                    padding: 0 3rem;
                }
            }
        }
    }
    &-large{
        button{
            width:64rem;
            height:8rem;
            border-radius: .5rem;
            font-size: 2.2rem;
            box-shadow: .3rem .3rem 1rem rgba(0,0,0,0.28);
        }
    }
    &-url{
        width: 9rem;
        height: 4rem;
        margin-left: auto;
        background: #dfdfdf;
        color:#005aab !important;
    }
    &-down{
        button{
            flex:1;
            height: 7rem;
            border-radius: .5rem;
            font-size: 1.8rem;
            box-shadow: .3rem .3rem 1rem rgba(0,0,0,0.28);
            a{
                color:#ffffff;
            }
        }
    }
}