@import "../_mixin";

/* 청소년기관 현황 */ 

.area{
    &-wrap{
        >div{
            @include display-flex;
        }
    }
    &-select{
        @include d-flex;
        flex:1;
        background: #f3f4f6;
        padding: 0 5rem;
        .cho_place{
            .tit{
                margin-bottom: 3rem;
                font: {
                    size: 3rem;
                    weight: 500;
                }
            }
            .des{
                margin-bottom: 5rem;
                font: {
                    size: 2rem;
                    weight: 500;
                }
            }
        }
    }
    &-img{
        width: 62rem;
        border:1px solid #dfdfdf;
        .list{
            img{
                display: none;
            }
            &.active{
                img{
                    display: block;
                }
            }
        }
       
    }
}
.cho_place{
    .form{
        &-select{
            @include display-flex;
            height: 5rem;
            select{
                flex:1;
                font-size: 1.8rem;
                color:#555555;
                background-color: #ffffff;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8'%3E%3Cpath fill-rule='evenodd' fill='rgb(85, 85, 85)' d='M4.994 8.003-.001-.003h9.99L4.994 8.003Z'/%3E%3C/svg%3E");
                border: 1px solid #dddddd;
                &+select{
                    margin-left: 4px;
                }
            }
        }
        &-search{
            @include display-flex;
            margin-top: 1rem;
            border:1px solid #dddddd;
            input{
                flex:1;
                &::placeholder{
                    font-size: 1.8rem;
                    color:#b5b5b5;
                    
                }
            }
            .btn-search{
                width:11.9rem;
                color:#ffffff;
                background:#555555;
                font-size: 1.8rem;
            }
        }
    }
}

.hidden{
    position: absolute;
    left: -99999px;
    top: -99999px;
    width: 1px;
    height: 1px;
}

.youthPop{
    &__inner{
        font-size: 2.2rem;
        *{
            font-size: 2.2rem;    
            line-height: 4rem;
        }
    }
}


/*===================================================================================================
===========================================  responsive ==========================================
==================================================================================================*/ 


@media screen and(max-width:1400px) {
    .sub-tab{
        ul{
            li{
                a{
                    padding:0 3rem;
                }
            }
        } 
    } 
}

@media screen and(max-width:720px){
   
    
}

@media screen and(max-width:375px){
    
}
