.map_contents .layout-depth--txt a {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.pagination-wrap {
  width: 100%;
  margin-top: 4rem;
  text-align: center;
}

.pagination {
  width: 100%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination > a.link-first {
  margin-right: -1px;
  background-image: url("../../resource/image/sub/icon-move-first.png");
}
.pagination > a.link-prev {
  margin-right: -1px;
  background-image: url("../../resource/image/sub/icon-move-prev.png");
}
.pagination > a.link-next {
  background-image: url("../../resource/image/sub/icon-move-next.png");
}

.pagination > a.link-last {
  margin-right: -1px;
  background-image: url("../../resource/image/sub/icon-move-last.png");
}

.pagination > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  font-size: 16px;
  font-weight: 400;
  border-radius: 0.3rem;
  color: #545454;
  border: 1px solid #d2d5dc;
}

.pagination > a + a {
  margin-left: 0.3rem;
}

.pagination > a.link-move {
  border-left: 1px solid #d3d5dc;
  background-repeat: no-repeat;
  background-position: center center;
}
.pagination > a.on:not(.link-move) {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #9bc33d;
}

.layout-tab {
  display: flex;
}
.layout-tab a {
  flex: 0.5;
  display: block;
  text-align: center;
  color: #555555;

  font-size: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.layout-tab a.is-active {
  color: #5ea936;
  border-top: 2px solid #9cc53e;
  border-left: 2px solid #9cc53e;
  border-right: 2px solid #9cc53e;
  font-weight: 500;
}
.layout-tab a:not(.is-active) {
  background-color: #f8f8f8;
  font-weight: 400;
}
.class_contents .category {
  overflow: hidden;
  border: 2px solid #a1c748;
}

.class_contents .category .cate {
  padding: 0;
  border-right: 2px dashed #cbe197;
}

.class_contents .category .cate:last-child {
  border-right: none;
}

.class_contents .category .cate > .category-menu {
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin-top: 3rem;
  padding: 0;
}
.class_contents .category .cate_sec {
  padding: 5rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.class_contents .category .cate:last-child {
  border-top: none;
  border-left: none;
}
.class_contents .category .cate > .category-menu ul {
  border-top: 2px solid #cbe197;
  background-color: #fff;
  padding: 3rem;
  width: 100%;
}

.class_contents .category .cate > .category-menu ul > li {
  position: relative;
  font-size: 2rem;
  font-weight: 400;
  line-height: 4rem;
  padding-left: 2rem;
}

.class_contents .category .cate > .category-menu ul > li:before {
  content: "·";
  position: absolute;
  left: 0;
  color: #79c651;
  font-size: 5rem;
}
