@import "../fonts/SpoqaHanSansNeo/style.css";

html,
body,
pre,
button,
select,
textarea,
[type="button"],
[type="submit"],
[type="text"],
[type="password"],
[type="search"],
[type="email"],
[type="url"],
[type="number"],
[type="tel"],
[type="file"],
[type="date"],
[type="time"] {
  /*font: 12px/1.5 '돋움', Dotum;*/
  /*font-family: '돋움', Dotum, 'Apple Gothic', sans-serif;*/
  font-family: "SpoqaHanSansNeo", "맑은고딕", "Malgun Gothic", "돋움", Dotum,
    "Apple Gothic", sans-serif;
  color: #000;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  background-color: #eff2f7;
}

button:focus,
[type="button"]:focus,
[type="submit"]:focus {
  outline-width: 1px;
  outline-style: dotted;
}

label {
  cursor: pointer;
}
