// Break Point
$mobile-xxs: 319px;
$mobile-xs: 320px;
$mobile-s: 375px;
$mobile-sm: 480px;
$mobile-m: 540px;
$mobile-ml: 640px;
$mobile-l: 720px;
$desktop: 1440px;

$height-l:936px;
 
 
// Mixins
@mixin mobile-xxs {
  @media (max-width: #{$mobile-xxs}) {
    @content;
  }
}
@mixin mobile-xs {
  @media (max-width: #{$mobile-xs}) {
    @content;
    // $font-size__24:3rem;
  }
}

@mixin mobile-s {
  @media (max-width: #{$mobile-s}) {
    @content;
  }
}

@mixin mobile-sm {
  @media (max-width: #{$mobile-sm}) {
    @content;
  }
}
 
@mixin mobile-m {
  @media (max-width: #{$mobile-m}) {
    @content;
  }
}
 
@mixin mobile-ml {
  @media (max-width: #{$mobile-ml}) {
    @content;
  }
}
 
 
@mixin mobile-l {
  @media (max-width: #{$mobile-l}) {
    @content;
  }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
      @content;
    }
  }

  @mixin height-l {
    @media (max-height: #{$height-l}) {
      @content;
    }
  }



@mixin d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
}

@mixin display-flex {
  display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;display:flex;
 
}

@mixin align-center {
  -webkit-box-align:center;-ms-flex-align:center;align-items:center;
}

@mixin justify-center {
  -webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;  
}

@mixin justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@mixin flex-column {
  -webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column
}

@mixin flex-wrap {
  -ms-flex-wrap: wrap;flex-wrap: wrap;
}

@mixin gradient {
    background: -webkit-gradient(linear, left top, right top, from(#f32786), to(#ac56ee)); 
    background: linear-gradient(to right, #f32786, #ac56ee);
}

@mixin paddingY-s{
  padding-left: $padding-s;
  padding-right: $padding-s;
}

@mixin list-padding{
  padding: 4rem 2rem;
}

@mixin font-sup {
  display: inline-block;
  padding-top:0.5rem;
  margin-left:0.7rem;
  font-size:2.0rem;
}

@mixin img-fit__cover {
  display: inline-block;
  height: auto; 
  -o-object-fit: cover; 
  object-fit: cover;
}

@mixin text-overflow {
  overflow:hidden;
  text-overflow:ellipsis;
  word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical
}

@mixin text-overflow_tit {
  overflow:hidden;text-overflow:ellipsis;line-height:2.3rem;height:2.3rem;
	word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical

}

@mixin text-overflow2 {
  overflow:hidden;text-overflow:ellipsis;line-height:3.4rem;height:6.8rem;
	word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical
}

@mixin text-overflow3 {
  overflow:hidden;text-overflow:ellipsis;line-height:3.2rem;height:9.6rem;
	word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical
}
@mixin text-overflow-n( $height:3.2rem, $line-height:3.2rem, $num:1, ) {
  overflow:hidden;text-overflow:ellipsis;line-height:$line-height;height:$height;
	word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:$num;-webkit-box-orient:vertical

  /* 사용시 
  .box{
    @include text-overflow-n($num:2)
  }
  */ 
  
}


@mixin select-arrow {
  background-image: url(../image/icon-select.png );
  background-repeat: no-repeat;
  background-position: right 3rem center;
  background-size: 2.1rem 1.5rem;
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

